/*Top Bar*/
/*DONE*/
body {
  font-family: Roboto;
}

.top-Bar-Container {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 1150px;
  height: 44px;
  max-height: 44px;
  border-style: solid;
  border-color: black;
  background-color: black;
  border-width: 1px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-right: 10px;
  align-items: center;
  justify-content: space-between;
}

/*Spotify Logo*/
/*DONE*/
.spotifyLogoContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
}

/*DONE*/
.spotifyLogo {
  width: 28x;
  height: 28px;
  background-color: white;
  border-style: solid ;
  border-width: 1px;
  border-color: gray;
  border-radius: 50%;
}

/*Home and Search Bar */ 
/*DONE*/
.homeAndSearchBarContainer {
  display: flex;
  flex-direction: row;
  flex: 2;
  align-items: center;
  padding-left: 80px;
  padding-right: 0px;
}

/*DONE*/
.homeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*DONE*/
.homeLogo {
  width: 34px;
  height: 34px;
  border-style: solid ;
  border-width: 1px;
  border-color: rgb(50, 50, 50);
  border-radius: 50%;
  margin-left: 50px;
}

/*DONE*/
.searchBarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left:7px;
  background-color: gray;
  border-width: 1px;
  width: 369px;
  height: 38px;
  max-width: 369px;
  border-radius: 18px;
  padding-left: 5px;
  padding-right: 5px;
}

/*Logo picture needs to be revised*/
.searchLogo {
  width: 28px;
  height: 28px;
  background-color: gray;
  border-radius: 50%;
}

/*DONE*/
.searchBar {
  margin-left: 5px;
  padding: 0;
  border-style: none;
  border-color: none;
  background-color: gray;
  color: white;
  height: 20px;
  width: 299px;
  border-right-style: solid;
  border-color: white;
  border-right-width: 1px;
  font-size: 13px;
}
.searchBar:focus {
  outline: none;
  box-shadow: none;
}

/*Browse Logo*/
/*DONE*/
.browseContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/*DONE*/
.browse {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  margin-left: 9px;
}

/*Install, notifications, and profile container*/
/*DONE*/
.installNotificationsProfileContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  width: 230px;
  max-width: 230px;
  padding-left: 170px;
}

/*Install*/
/*DONE*/
.installContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

/*DONE*/
.install {
  width: 14px;
  height: 14px;
  background-color: black;
  border-radius: 50%;
}

/*DONE*/
.installText {
  color: gray;
  margin-left: 8px;
  font-size: 11px;
}

/*Notifications*/
/*DONE*/
.notificationsBellContainer {
  display: flex;
  align-items: center;
}

/*DONE*/
.notificationsBell {
  width: 16px;
  height: 16px;
  background-color: black;
  border-radius: 50%;
  margin-left: 32px;
}

/*Profile picture*/
/*DONE*/
.profilePictureContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}

/*DONE*/
.amberProfileImage {
  background-color: gray;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  padding: 4px 4px;
  background-color: gray;
  border-radius: 50%;
}

